html {
  font-size: 16px;
  @include media(large) {
    font-size: 20px;
  }
}
body {
  background-color: black;
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}
