@include fadeIn;
@include fadeOut;
.form {
  @include flex;
  &__title {
    width: 100%;
    margin: 10px 0 5px 0;
    font-size: 1.2rem;
    &--big {
      z-index: -1;
      font-size: 1.5rem;
      margin-top: 20px;
    }
  }
  &__close {
    width: 10%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2% 2% 0% 0%;
    &:hover {
      filter: drop-shadow(6px -6px 0 $mainRed);
      cursor: pointer;
      transition-duration: 0.3s;
    }
  }
  &__main {
    display: none;
    &--open {
      @include flex;
      text-align: center;
      border: white 1px solid;
      margin: 0 5%;
      padding: 2% 0 3% 0;
      position: relative;
      width: 300px;
      @include media(small) {
        width: 400px;
      }
      @include media(large) {
        width: 500px;
      }
    }
  }
  &__search {
    text-align: center;
    display: inline-block;
    width: 60%;
    font-size: 1.5rem;
    &--closed {
      display: none;
    }
  }
  &__icon {
    display: inline-block;
    width: 10%;
    height: auto;
    &:hover {
      filter: drop-shadow(7px -8px 0 $mainRed);
      cursor: pointer;
      transition-duration: 0.3s;
    }
    &--closed {
      display: none;
    }
  }
  &__label {
    width: 50%;
    margin: 2px 0;
  }
  &__input {
    width: 35%;
    margin: 1% 0;
    background-color: black;
    outline: none;
    border: 0.1px solid white;
    opacity: 0.7;
    color: white;
    padding: 3px 0;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
    &--small {
      width: 50px;
      margin-top: 4%;
      margin-left: 2px;
    }
    &:focus {
      opacity: 1;
      outline: none;
    }
  }
  &__button {
    width: 45%;
    padding: 2%;
    border: white 1px solid;
    background-color: black;
    color: white;
    margin-top: 4%;
    @include media(large) {
      &:hover {
        background-color: $mainRed;
        cursor: pointer;
        transition-timing-function: ease-in;
        transition-duration: 0.3s;
      }
    }
  }
}
