@mixin media($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - error';
  }
}

@mixin flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
