@mixin media($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - error';
  }
}

@mixin flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@mixin fadeIn {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    90% {
      background-image: none;
      opacity: 1;
    }
    100% {
      background-color: $mainGray;
    }
  }
}

@mixin fadeOut {
  @keyframes fadeOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin listItemMain {
  align-items: flex-start;
  height: 55vh;
  width: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: rgba(255, 255, 255, 0.1) solid 1px;
  margin: 1%;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@mixin listItemDescription {
  font-size: 1em;
  display: inline;
  width: 90%;
  line-height: 1.5;
  pointer-events: none;
}

@mixin listItemBreakpoints {
  @include media(small) {
    height: 60vh;
    width: 260px;
  }
  @include media(medium) {
    width: 315px;
  }
  @include media(large) {
    margin: 0.5%;
    width: 290px;
    height: 55vh;
  }
  @include media(xlarge) {
    width: 280px;
  }
  @include media(xxlarge) {
    margin: 5px;
    width: 20%;
    height: 400px;
  }
}

@mixin singleseriesandcomic {
  &__title {
    text-transform: capitalize;
    margin: 4% 0 2% 0;
    font-size: 1.5rem;
    &--main {
      width: 100%;
    }
    &--sub {
      width: 50%;
      margin: 0 0 1% 0;
      font-size: 1.2rem;
    }
    &--small {
      font-size: 1.2rem;
      margin-bottom: 2%;
      width: 100%;
    }
    &--color {
      background-color: $mainGray;
      margin: 0;
      padding: 10px 0;
      width: 100%;
    }
  }
  &__description {
    font-size: 1rem;
    margin-top: 2%;
    line-height: 1.3;
    width: 90%;
    &--border {
      border: 0.5px solid white;
      width: 200px;
      padding: 2%;
      @include media(large) {
        width: 300px;
      }
    }
    &--info {
      margin-top: 4%;
      @include media(large) {
        margin-top: 1%;
      }
    }
  }
  &__content {
    @include flex;
    width: 90%;
    &--border {
      width: 250px;
      border: 1px solid white;
      @include media(large) {
        width: 350px;
      }
    }
  }
  &__image {
    margin-top: 1%;
    width: 80%;
    height: auto;
  }
  &__character {
    @include flex;
    align-items: flex-start;
    width: 220px;
    height: 230px;
    margin: 2% 2% 0 2%;
    border: 1px solid white;
    @include media(xsmall) {
      width: 200px;
    }
    @include media(small) {
      width: 210px;
    }
    @include media(medium) {
      margin: 1% 1% 0 1%;
      width: 220px;
    }
    @include media(large) {
      width: 200px;
    }
    @include media(xlarge) {
      width: 250px;
      height: 270px;
    }
    &-txtcontainer {
      position: relative;
      width: 100%;
      height: 40px;
      @include media(large) {
        height: 50px;
      }
    }
    &-name {
      font-size: 1rem;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: pre-wrap;
    }
  }

  &__creator {
    @include flex;
    width: 130px;
    height: 15vh;
    margin: 2% 2% 0 2%;
    border: 1px solid white;
    @include media(xsmall) {
      width: 150px;
    }
    @include media(small) {
      margin: 1% 1% 0 1%;
    }
    @include media(large) {
      width: 200px;
      height: 15vh;
    }
    @include media(xlarge) {
      width: 230px;
    }
    &-name {
      font-size: 1rem;
      width: 100%;
      height: 50%;
      position: relative;
    }
    &-role {
      font-size: 110%;
      width: 100%;
      text-transform: capitalize;
      position: relative;
      background-color: $mainRed;
      height: 50%;
    }
    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
}

@mixin results {
  .results {
    @include flex;
    width: 80%;
    @include media(small) {
      width: 100%;
    }

    &__title {
      width: 90%;
      font-size: 1.5rem;
      margin: 1.5rem 0;
    }
  }
}

//lists mixins
@mixin listTitle {
  margin: 2rem 0;
  font-size: 2rem;
  width: 100%;
}

@mixin singleListItemTitle {
  font-size: 1.2rem;
  background-color: $mainGray;
  width: 100%;
  padding: 4% 2%;
  pointer-events: none;
}

@mixin singleListItemHover {
  filter: grayscale(70%);
  cursor: pointer;
  background-color: saturate($mainRed, 80%);
  border: rgba(255, 255, 255, 0.8) solid 5px;
  transition-timing-function: ease-out;
  transition-duration: 0.17s;
}

//single pages mixins
