@mixin media($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - error';
  }
}

@mixin flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@mixin fadeIn {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    90% {
      background-image: none;
      opacity: 1;
    }
    100% {
      background-color: $mainGray;
    }
  }
}

@mixin listItemMain {
  align-items: flex-start;
  height: 55vh;
  width: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: rgba(255, 255, 255, 0.1) solid 1px;
  margin: 1%;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@mixin listItemDescription {
  white-space: pre-wrap;
  font-size: 1em;
  display: inline;
  width: 90%;
  line-height: 1.5;
}

@mixin listItemBreakpoints {
  @include media(small) {
    height: 60vh;
    width: 260px;
  }
  @include media(medium) {
    width: 315px;
    height: 70vh;
  }
  @include media(large) {
    margin: 0.5%;
    width: 290px;
    height: 65vh;
  }
  @include media(xlarge) {
    width: 280px;
    height: 55vh;
  }
  @include media(xxlarge) {
    margin: 5px;
    width: 20%;
    height: 400px;
  }
}
