.results-nav {
  @include flex;
  margin-top: 4%;
  text-align: center;
  &__line {
    width: 90%;
    border-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 1%;
  }
  &__label {
    font-size: 1.2rem;
    width: 40%;
    text-align: right;
  }
  &__input {
    width: 15%;
    text-align: center;
    font-size: 1rem;
    background-color: black;
    outline: none;
    border: 0.1px solid white;
    opacity: 0.7;
    color: white;
    padding: 1% 0;
    margin: 0 3%;
  }
  &__button {
    width: 40%;
    padding: 2%;
    border: white 1px solid;
    background-color: black;
    color: white;
    font-size: 1rem;
    margin: 2% 1%;
    &--small {
      width: 15%;
      padding: 0.5%;
    }
  }
}
