@include fadeIn;
@include fadeOut;

.characters-list {
  @include flex;
  &__title {
    font-size: 2rem;
    margin: 2% 0;
    width: 100%;
  }
}

.character {
  @include flex;
  @include listItemMain;
  @include listItemBreakpoints;
  &:hover {
    background-color: $mainRed;
    cursor: pointer;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
  }
  &__name {
    font-size: 1.2rem;
    background-color: $mainGray;
    width: 100%;
    padding: 4% 2%;
    pointer-events: none;
    &-label {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1% 0;
      align-self: flex-end;
      width: 100%;
      font-size: 1.2rem;
      &--closed {
        display: none;
      }
    }
  }
  &__description {
    @include listItemDescription;
    pointer-events: none;
  }
}

@include results;
