@include fadeIn;
@include fadeOut;

.characters-list {
  @include flex;
  &__title {
    @include listTitle;
  }
}

.character {
  @include flex;
  @include listItemMain;
  @include listItemBreakpoints;
  &__name {
 @include singleListItemTitle;
    pointer-events: none;
    &-label {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1% 0;
      align-self: flex-end;
      width: 100%;
      font-size: 1.2rem;
      &--closed {
        display: none;
      }
    }
  }
  &__description {
    @include listItemDescription;
    pointer-events: none;
  }
  &--hover {
    &:hover {
      @include singleListItemHover;
    }
  }
}

@include results;
