@include fadeIn;

.characters-list {
  @include flex;
  &__title {
    font-weight: 100;
    margin: 2% 0;
  }
}

.results {
  @include flex;
  text-align: center;
  &__title {
    font-size: 180%;
  }
}

.character {
  @include flex;
  @include listItemMain;
  &__name {
    font-size: 120%;
    width: 90%;
    &-label {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1% 0;
      align-self: flex-end;
      width: 100%;
      &--closed {
        display: none;
      }
    }
  }
  &__description {
    @include listItemDescription;
  }
}
