.comics-list {
  @include flex;
  &__title {
    font-weight: 100;
    margin: 2% 0;
  }
}

.results {
  @include flex;
  text-align: center;
  &__title {
    font-size: 180%;
  }
}

.comic {
  width: 80%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 4%;
}
