@include fadeIn;

.creators-list {
  @include flex;
  &__title {
    @include listTitle;
  }
}

.creator {
  width: 200px;
  height: 200px;
  margin: 5px;
  position: relative;
  border: rgba(255, 255, 255, 1) solid 1px;
  background-color: $mainGray;
  &__name {
    @include singleListItemTitle;
    @include flex;
    height: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 19, 30, 0.5);
    &-label {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 2% 0;
      width: 100%;
      font-size: 1.2rem;
      align-self: flex-end;
    }
  }
  &--link {
    background-size: cover;
    background-position: bottom;
  }
}

@include results;
