@include fadeIn;

.creators-list {
  @include flex;
  &__title {
    font-size: 2rem;
    margin: 2% 0;
  }
}

.results {
  @include flex;
  text-align: center;
  width: 100%;
  @include media(small) {
    width: 100%;
  }
  &__title {
    width: 90%;
    font-size: 1.5rem;
    margin: 2% 0;
  }
}

.creator {
  @include flex;

  width: 200px;
  height: 200px;
  margin: 5px;
  position: relative;
  border: rgba(255, 255, 255, 1) solid 1px;
  background-color: $mainGray;
  &__name {
    font-size: 1.2rem;
    width: 100%;
    padding: 4% 2%;
    height: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 19, 30, 0.5);
    &-label {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 2% 0;
      width: 100%;
      font-size: 1.2rem;
      align-self: flex-end;
    }
  }
  &--link {
    background-size: cover;
    background-position: bottom;
    text-decoration: none;
    color: white;
  }
}
