@include fadeIn;
@include fadeOut;

.events-list {
  @include flex;
  &__title {
    @include listTitle;
  }
}

.event {
  @include flex;
  @include listItemMain;
  height: 50vh;
  background-size: cover;
  width: 290px;
  border: 1px solid white;
  @include media(xsmall) {
    width: 320px;
  }
  @include media(small) {
    width: 300px;
  }
  @include media(medium) {
    width: 250px;
    height: 40vh;
    margin: 5px;
  }
  @include media(large) {
    width: 300px;
    height: 50vh;
  }
  @include media(xxlarge) {
    width: 320px;
    height: 400px;
  }
  &__title {
    @include singleListItemTitle;
  }
  &__description {
    @include listItemDescription;
  }
  &--hover {
    &:hover {
      @include singleListItemHover;
    }
  }
}

@include results;
