@include fadeIn;

.events-list {
  @include flex;
  &__title {
    font-weight: 100;
    margin: 2% 0;
  }
}

.results {
  @include flex;
  text-align: center;
  width: 90%;
  &__title {
    font-size: 180%;
  }
}

.event {
  @include flex;
  @include listItemMain;
  height: 50vh;
  background-size: cover;
  width: 100%;
  border: 1px solid white;
  &__title {
    font-size: 120%;
    width: 90%;
  }
  &__description {
    @include listItemDescription;
  }
}
