@include fadeIn;

.series-list {
  @include flex;
  &__title {
    margin: 2% 0;
    font-size: 2rem;
  }
}

.series {
  @include flex;
  @include listItemMain;
  @include listItemBreakpoints;
  &__title {
    font-size: 1.2rem;
    background-color: $mainGray;
    width: 100%;
    padding: 4% 2%;
  }
  &__description {
    @include listItemDescription;
  }
}


@include results;