@include fadeIn;

.series-list {
  @include flex;
  &__title {
    font-weight: 100;
    margin: 2% 0;
  }
}

.results {
  @include flex;
  text-align: center;
  &__title {
    font-size: 180%;
  }
}

.series {
  @include flex;
  @include listItemMain;
  &__title {
    font-size: 120%;
    width: 90%;
  }
  &__description {
    @include listItemDescription;
  }
}
